/*==================================================================
============== Global Properties ===================================
=================================================================*/
body {
    font-family: "Nunito", sans-serif;
    line-height: 1.6;
    background: #ffffff;
    overflow-x: hidden;
    font-size: 16px;
}
body::-webkit-scrollbar {
    background-color: $lightMainColor;
    width: 7px;
    right: -10px
}
body::-webkit-scrollbar-thumb{
    background-color: $mainColor;
    border-radius:8px;
    right: -10px
}
.site-section{
    padding: 60px 0px 
}
p.heading{
    font-size: 35px;
}
.hidden{
    display: none !important
}
div.underline{
    width: 40px;
    height: 4px;
    background-color: $mainColor;
    margin: -10px auto 40px auto;
    
}
div.underline-align-left{
    width: 40px;
    height: 4px;
    background-color: $mainColor;
    margin: -10px 0px 40px 50px;    
}
i{
    color: $mainColor;
}