/*==================================================================
============== Works =============================================
=================================================================*/
#works{
    .row.no-gutters [class*=col-] {
        padding-left: 0;
        padding-right: 0;
    }
    .img-wrapper {
        overflow: hidden;
        img {
            display: block;
            max-width: 100%;
            height: auto;
            -webkit-transition: -webkit-transform .5s ease;
            transition: -webkit-transform .5s ease;
            transition: transform .5s ease;
            transition: transform .5s ease, -webkit-transform .5s ease;
            &:hover {
                -webkit-transform: scale(1.5);
                        transform: scale(1.5);
                cursor: zoom-in;
            }
        }
    }
}
